.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  background-color: #f8f9fa; /* Cor de fundo cinza claro */
}

.form-container {
  padding: 20px;
  border: 1px solid #343a40; /* Cor da borda cinza escuro */
  border-radius: 5px;
  background-color: #a8a7a7; /* Cor de fundo branca */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra suave */
  
}
