body {
  margin: 0;
  padding: 0;
  background-color: #0f0f05; /* fundo preto */
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Centralizar no topo da página */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column; /* Ajusta a direção da disposição do conteúdo */
  align-items: center; /* Centralizar na horizontal */
  margin-top: 10px; /* Adicionar um espaçamento superior */
}

.form-container {
  background-color: #ffffff; /* fundo cinza claro */
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* sombra */
}
